In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\nandh\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: trio~=0.17 in c:\users\nandh\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\nandh\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\nandh\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\nandh\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\nandh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.2)
Requirement already satisfied: idna in c:\users\nandh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\nandh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\nandh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\nandh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\nandh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\nandh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\nandh\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\nandh\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\nandh\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\nandh\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium

In [3]:
from selenium import webdriver

In [4]:
import pandas as pd

In [5]:
from selenium.webdriver.common.by import By

In [6]:
import warnings

In [7]:
warnings.filterwarnings("ignore")

In [147]:
import time

# question1

In [46]:
driver = webdriver.Chrome()

driver.get("https://www.naukri.com/")

In [47]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Analyst")

In [48]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Banglore")

In [49]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [63]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [64]:
title_tags = driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')


for i in title_tags[0:11]:
    title = i.text
    job_title.append(title)

In [65]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:11]:
    location=i.text
    job_location.append(location)

In [66]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:11]:
    company=i.text
    company_name.append(company)

In [67]:
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:11]:
    experience=i.text
    experience_required.append(experience)

In [68]:
print(len(job_title)),print(len(job_location)),print(len(company_name)),print(len(experience_required))

11
11
11
11

(None, None, None, None)

In [69]:
import pandas as pd

In [70]:
df=pd.DataFrame({'title':job_title,'location':job_location,'companyname':company_name,'experience':experience_required})

In [71]:
df

,title,location,companyname,experience
0,Data Analyst,Bangalore/Bengaluru,Eastvantage,4-6 Yrs
1,Data Analyst,"Gurgaon/ Gurugram, Haryana, Bangalore/ Bengalu...",Delhivery,1-3 Yrs
2,Data Analyst,Bangalore/Bengaluru,Everest Vacuum,2-5 Yrs
3,Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Volvo Financial Services,3-5 Yrs
4,Data Analyst,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Synechron,5-8 Yrs
5,Data Analyst,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Synchron Infotech,5-8 Yrs
6,Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Volvo Financial Services,2-4 Yrs
7,Data Analyst,Bangalore/Bengaluru,ANZ,1-5 Yrs
8,Data Analyst I,Bangalore/Bengaluru,Cerner,5-10 Yrs
9,Data Analyst,Bangalore/Bengaluru,Persolkelly India,0-2 Yrs
10,Data Analyst,Bangalore/Bengaluru,Paychex It Solutions,3-8 Yrs

# question2

In [148]:
driver = webdriver.Chrome()

driver.get("https://www.naukri.com/")

In [99]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")

location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Banglore")

search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [100]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [103]:
title_tags = driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location) 
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [104]:
print(len(job_title)),print(len(job_location)),print(len(company_name))

10
10
10

(None, None, None)

In [105]:
import pandas as pd
df=pd.DataFrame({'title':job_title,'location':job_location,'companyname':company_name})
df

,title,location,companyname
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
1,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",PwC
2,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
3,"Data Scientist -ML, DL, Python",Bangalore/Bengaluru,Capco
4,DATA SCIENTIST,Bangalore/Bengaluru,Walmart
5,Data Scientist,"Hybrid - Noida, Uttar Pradesh, Bangalore/ Beng...",HCLTech
6,Data Scientist with Retail Domain,"Kolkata, Mumbai, Nagpur, Hyderabad/Secunderaba...",TRH Consultancy Services
7,Data Scientist,"Noida, Kolkata, Mumbai, Hyderabad/Secunderabad...",TRH Consultancy Services
8,Data Scientist,"Noida, Kolkata, Mumbai, Hyderabad/Secunderabad...",TRH Consultancy Services
9,Data Scientist,"Noida, Kolkata, Mumbai, Hyderabad/Secunderabad...",TRH Consultancy Services

# question3

In [146]:
driver = webdriver.Chrome()

driver.get("https://www.naukri.com/")

In [145]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")

location=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys("Delhi/NCR")

search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [143]:
salary=driver.find_elements(By.ID,"chk-3-6 Lakhs-ctcFilter-expanded")
salary.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":"[id="chk-3-6 Lakhs-ctcFilter-expanded"]"}
  (Session info: chrome=115.0.5790.102); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
Backtrace:
	GetHandleVerifier [0x010FA813+48355]
	(No symbol) [0x0108C4B1]
	(No symbol) [0x00F95358]
	(No symbol) [0x00FC09A5]
	(No symbol) [0x00FC0B3B]
	(No symbol) [0x00FEE232]
	(No symbol) [0x00FDA784]
	(No symbol) [0x00FEC922]
	(No symbol) [0x00FDA536]
	(No symbol) [0x00FB82DC]
	(No symbol) [0x00FB93DD]
	GetHandleVerifier [0x0135AABD+2539405]
	GetHandleVerifier [0x0139A78F+2800735]
	GetHandleVerifier [0x0139456C+2775612]
	GetHandleVerifier [0x011851E0+616112]
	(No symbol) [0x01095F8C]
	(No symbol) [0x01092328]
	(No symbol) [0x0109240B]
	(No symbol) [0x01084FF7]
	BaseThreadInitThunk [0x758E7D59+25]
	RtlInitializeExceptionChain [0x7745B79B+107]
	RtlClearBits [0x7745B71F+191]

In [147]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

title_tags = driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft filterLabel"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location) 
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

# question4

In [58]:
driver = webdriver.Chrome()

driver.get("https://www.flipkart.com/")

In [59]:
search=driver.find_element(By.XPATH,'//input[@title="Search for products, brands and more"]')
search.send_keys("sunglass")

In [61]:
searchs=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')

In [65]:
brand=[]
brandss=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brandss[0:30]:
    brands=i.text
    brand.append(brands)

In [66]:
print(len(brand))

30

In [72]:
rating=[]
ratings=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in ratings[0:30]:
    ratinged=i.text
    rating.append(ratinged)

In [73]:
print(len(rating))

30

In [69]:
rate=[]

rates=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in rates[0:30]:
    ratess=i.text
    rate.append(ratess)

In [70]:
print(len(rate))

30

In [74]:
import pandas as pd
pdf=pd.DataFrame({"brand":brand,"rating":rating,"price":rate})
pdf

            brand                                             rating   price
0      iCopertina  UV Protection Retro Square Sunglasses (Free Size)    ‚Çπ199
1          OAKLEY                               Rectangular Sunglass  ‚Çπ9,578
2           SDEEP  UV Protection, Others Spectacle Sunglasses (Fr...    ‚Çπ185
3        Fastrack   UV Protection Rectangular Sunglasses (Free Size)    ‚Çπ675
4            SRPM             UV Protection Wayfarer Sunglasses (50)    ‚Çπ194
5       Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...    ‚Çπ168
6            Shiv                UV Protection Round Sunglasses (50)    ‚Çπ249
7   VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...    ‚Çπ678
8      iCopertina  UV Protection Retro Square Sunglasses (Free Size)    ‚Çπ199
9       Elligator      UV Protection Wayfarer Sunglasses (Free Size)    ‚Çπ152
10     iCopertina  by Lenskart Polarized, UV Protection Retro Squ...    ‚Çπ197
11  VINCENT CHASE             UV Protection Wayfarer Sunglasses (58)    ‚Çπ648
12       Fastrack    Gradient, UV Protection Aviator Sunglasses (55)    ‚Çπ826
13           Shiv                UV Protection Round Sunglasses (53)    ‚Çπ275
14      Elligator            UV Protection Spectacle Sunglasses (15)    ‚Çπ199
15     Cool enter             UV Protection Wayfarer Sunglasses (62)    ‚Çπ183
16  VINCENT CHASE  UV Protection Rectangular, Retro Square Sungla...    ‚Çπ598
17      ROYAL SON  UV Protection, Polarized, Gradient, Mirrored R...    ‚Çπ497
18           Shiv                UV Protection Round Sunglasses (50)    ‚Çπ249
19      Rich Club   UV Protection Rectangular Sunglasses (Free Size)    ‚Çπ335
20     iCopertina     UV Protection Spectacle Sunglasses (Free Size)    ‚Çπ199
21     iCopertina  UV Protection Retro Square Sunglasses (Free Size)    ‚Çπ199
22        ROADWAY  UV Protection Retro Square Sunglasses (Free Size)    ‚Çπ256
23        ROADWAY  Gradient, UV Protection Wayfarer Sunglasses (F...    ‚Çπ372
24       Fastrack             UV Protection Wayfarer Sunglasses (56)    ‚Çπ748
25       Fastrack  by Lenskart Polarized, UV Protection Cat-eye S...    ‚Çπ882
26  VINCENT CHASE                   Mirrored Aviator Sunglasses (58)    ‚Çπ879
27      ROYAL SON  UV Protection, Polarized, Gradient, Mirrored B...    ‚Çπ379
28           Shiv  UV Protection, Others Wayfarer, Retro Square, ...    ‚Çπ249
29          SDEEP     UV Protection Spectacle Sunglasses (Free Size)    ‚Çπ178

# question5

In [ ]:
Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:

https://www.flipkart.com/apple-iphone-11-black-64-gb/product-
reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market

place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [20]:
driver = webdriver.Chrome()

driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [23]:
review_summary=[]
review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review:
    reviews=i.text
    review_summary.append(reviews)

In [24]:
print(len(review_summary))

10

In [25]:
rating=[]
ratingss=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in ratingss:
    ratings=i.text
    rating.append(ratings)

In [26]:
print(len(rating))

10

In [27]:
full_review=[]
review=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in review:
    reviews=i.text
    full_review.append(reviews)

In [28]:
print(len(full_review))

10

In [29]:
import pandas as pd

In [30]:
pdf=pd.DataFrame({"rating":rating,"full_summary":full_review,"review_summary":review_summary})
pdf

,rating,full_summary,review_summary
0,5,Very very good,Terrific
1,5,Camera is awesome\nBest battery backup\nA perf...,Classy product
2,5,This is amazing at all,Wonderful
3,5,Photos super,Mind-blowing purchase
4,5,It‚Äôs really awesome,Must buy!
5,5,Superüî• and good performance üëå‚ù§Ô∏è,Fabulous!
6,5,V Good all,Perfect product!
7,5,Perfect Product!!,Just wow!
8,5,Good Camera,Best in the market!
9,5,Feeling awesome after getting the delivery of ...,Worth every penny

# question6

In [ ]:
Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for ‚Äúsneakers‚Äù in the 
search field. 
You have to scrape 3 attributes of each sneaker: 
1. Brand 
2. Product Description 
3. Price 
As shown in the below image, you have to scrape the above attributes.

In [38]:
driver = webdriver.Chrome()

driver.get("https://www.flipkart.com/")

In [39]:
from selenium.webdriver.common.keys import Keys

In [42]:
search_query = "sneakers"
search_input = driver.find_element(By.XPATH, '//input[@class="_3704LK"]')
search_input.send_keys(search_query)
search_input.send_keys(Keys.RETURN)

In [45]:
brand=[]
brand_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_name[0:30]:
    brands=i.text
    brand.append(brands)

In [46]:
print(len(brand))

30

In [49]:
product_description=[]
product=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in product[0:30]:
    description=i.text
    product_description.append(description)

In [50]:
print(len(product_description))

30

In [51]:
price=[]
product_price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in product_price[0:30]:
    prices=i.text
    price.append(prices)

In [52]:
print(len(price))

30

In [53]:
import pandas as pd
pdf=pd.DataFrame({"Brand":brand,"Product_Description":product_description,"PRICE":price})
pdf

         Brand                                Product_Description   PRICE
0       BRUTON               Modern Trendy Shoes Sneakers For Men    ‚Çπ349
1     Magnolia  Modern Trendy Sneakers boot Sneakers Sneakers ...    ‚Çπ299
2        asian  Thunder-01 White Color Change Sneakers,Casuals...    ‚Çπ799
3       Kzaara                                   Sneakers For Men    ‚Çπ299
4     Magnolia                                 Sneakers For Women    ‚Çπ299
5       Kraasa  Lightweight,Comfort,Summer,Trendy,Walking,Outd...    ‚Çπ399
6         aadi        Casuals, Canvas, Partywear Sneakers For Men    ‚Çπ437
7       Kraasa  Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...    ‚Çπ499
8       BRUTON                                 Sneakers For Women    ‚Çπ599
9    Deals4you                                   Sneakers For Men    ‚Çπ599
10    Nobelite                                   Sneakers For Men    ‚Çπ469
11        aadi                    Skypy-31 Shoes Sneakers For Men    ‚Çπ499
12       asian  Junior Zero1 Sports shoes for Men | Gym Traini...    ‚Çπ509
13      Airson  Trendy-21 White Color Change Sneakers,Casuals,...    ‚Çπ989
14       asian  SM-162 Black Walking ,Training,Sneakers,Loafer...    ‚Çπ649
15       asian                                   Sneakers For Men    ‚Çπ499
16      DUCATI                                   Sneakers For Men    ‚Çπ874
17  HIGHLANDER             2 Combo Sneaker Shoes Sneakers For Men    ‚Çπ696
18      BRUTON  Casual Sneakers ColourFul Block Shoes For Boys...    ‚Çπ549
19      Labbin                         Hustle V2 Sneakers For Men    ‚Çπ588
20        PUMA  Achiever-15 Grey Sneakers,Loafers,Canvas,Walki...  ‚Çπ1,399
21       asian      Combo Pack of 2 Casual Shoes Sneakers For Men    ‚Çπ549
22       BIRDE  Achiever-16 Blue Sneakers,Casuals,Walking,Styl...    ‚Çπ479
23       asian                                   Sneakers For Men    ‚Çπ574
24       asian  Mesh| Lightweight| Premiun| Comfort| Summer Te...    ‚Çπ579
25        aadi            Casual Sneakrs For Men Sneakers For Men    ‚Çπ426
26    Vellinto                         Hustle V2 Sneakers For Men    ‚Çπ599
27        PUMA  Skypy-31 Walking Shoes,Training Shoes,Sneakers...  ‚Çπ1,399
28       asian                                   Sneakers For Men    ‚Çπ509
29        ATOM                                   Sneakers For Men  ‚Çπ1,389

# question7

In [ ]:
Q7: Go to webpage https://www.amazon.in/ 
Enter ‚ÄúLaptop‚Äù in the search field and then click the search icon. Then 
set CPU Type filter to ‚ÄúIntel Core i7‚Äù as shown in the below image
After setting filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
 1.Title
 2.Ratings
 3.Price

In [99]:
driver = webdriver.Chrome()

driver.get("https://www.amazon.in/")

In [100]:
from selenium.webdriver.common.keys import Keys

In [101]:
search_input = driver.find_element(By.ID,'twotabsearchtextbox')
search_input.send_keys("HP laptop")

In [102]:
search_button = driver.find_element(By.ID, "nav-search-submit-button")
search_button.click()

In [117]:
title=[]
titles=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in titles[0:10]:
    titlees=i.text
    title.append(titlees)

In [118]:
print(len(title))

10

In [124]:
rating=[]
prices=driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
for i in prices[0:10]:
    pricess=i.text
    rating.append(pricess)

In [125]:
print(len(rating))

10

In [121]:
price=[]
prices=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in prices[0:10]:
    pricees=i.text
    price.append(pricees)

In [122]:
print(len(price))

10

In [126]:
import pandas as pd
pdf=pd.DataFrame({"title":title,"rating":rating,"price":price})
pdf

                                               title rating   price
0  HP 15s,11th Gen Intel Core i3-1115G4 8GB RAM/5...  1,466  39,990
1  HP 14s, 11th Gen Intel Core i3-1115G4, 8GB RAM...  1,096  35,990
2  HP Laptop 15s, 11th Gen Intel Core i3-1115G4, ...     42  37,499
3  HP Laptop 15s, 12th Gen Intel Core i3-1215U, 1...  1,466  41,990
4  HP 14s, 11th Gen Intel Core i3-1115G4, 8GB RAM...  1,096  35,990
5  HP Laptop 15s, 12th Gen Intel Core i5-1235U, 1...
6  HP 15s,11th Gen Intel Core i3-1115G4 8GB RAM/5...
7  HP 255 G8 Notebook PC,AMD Ryzen 3 3250U, 15.6 ...
8  HP Laptop 15s, Intel Celeron N4500, 15.6 inch(...
9  HP Laptop 14s, 12th Gen Intel Core i5-1235U, 1...

# question8

In [ ]:
Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes

3. Than scrap a) Quote b) Author c) Type Of Quotes

In [75]:
driver = webdriver.Chrome()

driver.get("https://www.azquotes.com/")

In [76]:
from selenium.webdriver.common.keys import Keys

In [79]:
url=driver.find_elements(By.XPATH,'//li[@class="active"]')
url.click()

In [83]:
quotes=[]
author=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in author[0:90]:
    authors=i.text
    quotes.append(authors)

In [84]:
print(len(quotes))

90

In [88]:
type_quotes=[]
quotess=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in quotess[0:90]:
    quote=i.text
    type_quotes.append(quote)

In [89]:
print(len(type_quotes))

90

In [90]:
author=[]
author_name=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_name[0:90]:
    name=i.text
    author.append(name)

In [91]:
print(len(author))

90

In [92]:
import pandas as pd
pdf=pd.DataFrame({"quotes":quotes,"author_name":author,"types_of_quotes":type_quotes})
pdf

,quotes,author_name,types_of_quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
85,The two most important days in your life are t...,Mark Twain,"Inspirational, Life, Motivational"
86,We must be global Christians with a global vis...,John Stott,"Christian, Vision, Missionary"
87,"With everything that has happened to you, you ...",Wayne Dyer,"Inspirational, Positive, Regret"
88,Don‚Äôt let the noise of others‚Äô opinions drown ...,Steve Jobs,"Love, Inspirational, Life"
89,"History, despite its wrenching pain, cannot be...",Maya Angelou,"Inspirational, Life, Encouragement"

# question9

In [ ]:
Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [49]:
driver = webdriver.Chrome()

driver.get("https://www.jagranjosh.com/")

In [50]:
from selenium.webdriver.common.keys import Keys

In [53]:
input_data=driver.find_element(By.XPATH,'//input[@class="searchBox"]')
input_data.send_keys(" list of PM 1947 to 2022")

In [57]:
button=driver.find_elements(By.XPATH,'//input[@onclick=" return searchSubmit();"]')
button

In [37]:
url=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]/a')
url.click()

# question10

In [ ]:
Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to type in the search bar ‚Äô50 most expensive cars‚Äô
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe.

In [93]:
driver = webdriver.Chrome()

driver.get("https://www.motor1.com/")

In [94]:
box=driver.find_element(By.XPATH,'//input[@class="m1-search-panel-input m1-search-form-text"]')
box.send_keys("most expensive cars in the world")

In [95]:
button=driver.find_element(By.XPATH,'//button[@class="m1-search-panel-button m1-search-form-button-animate icon-search-svg"]')
button.click()

In [29]:
date=[]
date_pub=driver.find_elements(By.XPATH,'/html/body/div[10]/div[9]/div[5]/div[1]/div/div/div[1]/div/div[2]/span[2]')
for i in date_pub[0:30]:
    dates=i.text
    date.append(dates)

In [30]:
print(len(date))

1

In [100]:
url=driver.find_elements(By.XPATH,'//a[@class="text"]')
url[0:40]

[]

In [101]:
for i in url[0:40]:
    print(i.get_attribute('href'))

In [36]:
name_car=[]
car=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car[0:40]:
    cars=i.text
    name_car.append(cars)

In [37]:
print(len(name_car))

40

In [96]:
price=[]
car_price=driver.find_elements(By.XPATH,'//picture[@class="lazyload"]')
for i in car_price[0:40]:
    car=i.text
    price.append(car)

In [97]:
print(len(price))

40